
@media (min-width: 768px) {     

.header__search {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__search-icon {
    left: calc(50% - 150px + 15px);
}

.header__search input {
    width: 300px;
}

.header__logo {
    justify-content: start;
}

.header__categories {
    margin-left: 20px;
}

}

@media (min-width: 992px) { 

}